VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org:443
VITE_SOROBAN_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
VITE_LENDING_POOL_CONTRACT_ID=
VITE_A_TOKEN_CONTRACT_ID=
VITE_DEBT_TOKEN_CONTRACT_ID=
VITE_RESERVE_CONTRACT_ID=
VITE_PRICE_ORACLE_CONTRACT_ID=
VITE_LIQUIDATION_CONTRACT_ID=
VITE_ORACLE_MODE=reflector
VITE_REFLECTOR_CONTRACT_ID=
VITE_MAX_PRICE_STALENESS_LEDGERS=120
VITE_XLM_ASSET_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
VITE_USDC_ASSET_CONTRACT_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
VITE_USD_BASE_ASSET_ID=
VITE_STELLAR_EXPERT_BASE_URL=https://stellar.expert/explorer/testnet
